<div class="container">
  <h1>Party Planner</h1>
  
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Your Name:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" required>
    </div>
    
    <div>
      <label for="item">Item to Bring:</label>
      <input type="text" id="item" [(ngModel)]="newItem.name" name="item" required>
    </div>
    
    <div>
      <label for="category">Select a category:</label>
      <select id="category" [(ngModel)]="newItem.category" name="category" required>
        <option value="Food">Food</option>
        <option value="Drink">Drink</option>
        <option value="Other">Other</option>
      </select>
    </div>
    
    <div>
      <label for="description">Item Description:</label>
      <textarea id="description" [(ngModel)]="newItem.description" name="description"></textarea>
    </div>
    
    <div>
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" [(ngModel)]="newItem.quantity" name="quantity" required>
    </div>
    
    <button type="submit">Submit</button>
  </form>

  <h2>Items List:</h2>
  <ul class="item-list">
    <li *ngFor="let item of items" class="item">
      <span class="item-category">{{ item.category }}</span>
      <span>{{ item.name }} - <span class="item-description">{{ item.description }}</span> (Quantity: {{ item.quantity }})</span>
      <button (click)="removeItem(item)">Supprimer</button>
      <button (click)="increaseQuantity(item)">Ajouter + 1 en quantité</button>
    </li>
  </ul>
</div>
